Sarawak-Research-Assistant/Sarawak Research Assistant Prompting.json
{
  "name": "Sarawak Research Assistant Prompting",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "0a01d9d0-af06-4bf8-9a55-2eef993b466b",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        224
      ],
      "webhookId": "your-webhook-id",
      "credentials": {
        "telegramApi": {
          "id": "dnbCBLLMXpKhHfh9",
          "name": "SarawakResearch_Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message.text }}",
              "operation": "contains",
              "value2": "/findlocal"
            }
          ]
        }
      },
      "id": "c14ba628-5458-4455-bbee-a1c5dce05a29",
      "name": "Check Command",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -240,
        224
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "🔍 Searching for Sarawak resources... This will take about 10-15 seconds.",
        "additionalFields": {}
      },
      "id": "8762920e-4b4a-4676-92b1-7fa79a6d86f4",
      "name": "Send Searching Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -32,
        -16
      ],
      "webhookId": "879c1587-78b6-437e-953a-0a8ea513707c",
      "credentials": {
        "telegramApi": {
          "id": "dnbCBLLMXpKhHfh9",
          "name": "SarawakResearch_Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response and format for Telegram\nconst aiResponse = $input.item.json;\n\n// Get the AI's response text - AI Agent returns it in 'output' field\nconst aiContent = aiResponse.output || aiResponse.text || aiResponse.response || JSON.stringify(aiResponse);\n\n// Get data from Extract Query node\nconst query = $('Extract Query').item.json.query;\nconst chatId = $('Extract Query').item.json.chatId;\nconst teacherId = $('Extract Query').item.json.teacherId;\nconst teacherName = $('Extract Query').item.json.teacherName;\n\n// Get current time in Malaysian timezone\nconst timestamp = new Date().toLocaleString('en-MY', { \n  timeZone: 'Asia/Kuching',\n  dateStyle: 'medium',\n  timeStyle: 'short'\n});\n\n\n// Telegram has 4096 character limit\nconst MAX_LENGTH = 3800; // Leave room for header/footer\n\n// Truncate if too long\nlet contentToSend = aiContent;\nlet wasTruncated = false;\n\nif (aiContent.length > MAX_LENGTH) {\n  contentToSend = aiContent.substring(0, MAX_LENGTH) + '...';\n  wasTruncated = true;\n}\n\n// Format for Telegram with Markdown\nlet formattedMessage = `📚 *Research Results*\n*Topic:* ${query}\n\n${contentToSend}`;\n\n// Add truncation notice if needed\nif (wasTruncated) {\n  formattedMessage += `\\n\\n⚠️ _Response was truncated due to length. Full response saved in database._`;\n}\n\nformattedMessage += `\\n\\n━━━━━━━━━━━━━━━━━\n_Generated by Sarawak Research Assistant_\n_${timestamp}_\n_For: ${teacherName}_`;\n\n// Return structured data for next nodes\nreturn {\n  chatId: chatId,\n  message: formattedMessage,\n  query: query,\n  teacherId: teacherId,\n  teacherName: teacherName,\n  rawResponse: aiContent,  // Full response saved to DB\n  wordCount: aiContent.split(' ').length,\n  timestamp: timestamp,\n  wasTruncated: wasTruncated\n};\n"
      },
      "id": "514d74ed-1478-49d1-afb4-37423c9260d1",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        208
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "id": "fa1b7086-3d83-449e-bc1d-f02b5de1ec61",
      "name": "Send Results to Teacher",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        864,
        112
      ],
      "webhookId": "877ec1ac-b34b-4a28-a552-573657350087",
      "credentials": {
        "telegramApi": {
          "id": "dnbCBLLMXpKhHfh9",
          "name": "SarawakResearch_Bot"
        }
      }
    },
    {
      "parameters": {
        "tableId": "research_cache",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "query_text",
              "fieldValue": "={{ $json.query }}"
            },
            {
              "fieldId": "response_data",
              "fieldValue": "={{ { content: $json.rawResponse, formatted: $json.message, wordCount: $json.wordCount, teacherName: $json.teacherName, timestamp: $json.timestamp } }}"
            },
            {
              "fieldId": "teacher_id",
              "fieldValue": "={{ $json.teacherId }}"
            }
          ]
        }
      },
      "id": "ed33f818-3a24-46e7-82d5-a1dafc2ad8c5",
      "name": "Save to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        864,
        304
      ],
      "credentials": {
        "supabaseApi": {
          "id": "wzN5sHFNto69sgIn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "❌ Please use the command: /findlocal [your topic] |Example: /findlocal Niah Caves human settlement",
        "additionalFields": {}
      },
      "id": "4d952030-1efe-4a13-8fc9-61b544857081",
      "name": "Send Help Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -16,
        416
      ],
      "webhookId": "a8b5c786-7f13-4329-8e80-84fb849f400c",
      "credentials": {
        "telegramApi": {
          "id": "dnbCBLLMXpKhHfh9",
          "name": "SarawakResearch_Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Research topic: \"{{ $('Extract Query').item.json.query }}\"\n\nYou are helping a Form 5 teacher in Sarawak, Malaysia find curriculum-relevant information about local context.\n\n**IMPORTANT: Keep response concise and under 500 words total.**\n\nProvide a structured research summary in this format:\n\n**📌 3 KEY FACTS**\n(Provide 3 factually accurate, curriculum-relevant facts. Keep each fact to 1-2 sentences. Make them specific and useful for Form 5 level teaching)\n\n**💡 3 TEACHING IDEAS**\n(Suggest 3 practical ways a teacher can integrate this topic into KSSM lessons. Be specific about subjects like Biology, History, Geography. Keep each idea to 1-2 sentences)\n\n**🏞️ SARAWAK CONNECTIONS**\n(Explain how this topic relates specifically to Sarawak - its geography, history, culture, or environment. Write 2-3 sentences maximum)\n\n**✏️ 2 STUDENT ACTIVITIES**\n(Propose 2 age-appropriate activities for Form 5 students. Keep each activity description to 1-2 sentences)\n\n**📚 RELIABLE SOURCES**\n(List 3-4 credible sources with titles only. Prioritize Malaysian and Sarawak-specific sources)\n\nUse clear bullet points. Be concise and teacher-friendly.",
        "options": {
          "systemMessage": "You are an expert research assistant specializing in Sarawak, Malaysia educational content. Your role is to help teachers connect the Malaysian KSSM curriculum to local Sarawak context.\n\nYour expertise includes:\n- Sarawak's history, geography, culture, and biodiversity\n- Malaysian education system and KSSM curriculum alignment\n- Age-appropriate content for Form 5 students\n- Verified, reliable Malaysian and Sarawak sources\n\nGuidelines:\n- Prioritize Sarawak-specific information and Malaysian sources\n- Ensure all facts are accurate and curriculum-relevant\n- Provide practical, classroom-ready teaching suggestions\n- Use clear, teacher-friendly language\n- Include credible source links when possible",
          "maxIterations": 1,
          "passthroughBinaryImages": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        288,
        208
      ],
      "id": "eff0502b-f456-47de-90ed-ab775bb24528",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "maxTokens": 1200,
          "responseFormat": "text",
          "temperature": 0.3,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        464
      ],
      "id": "cee3e48d-1a46-426a-825a-31e7af0ef826",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FdHtYgaABcBk8pAR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract the query from the telegram message\nconst text = $input.item.json.message.text;\n\n// Remove the /findlocal command and clean up whitespace\nconst query = text.replace('/findlocal', '').trim();\n\n// Get chat and teacher information\nconst chatId = $input.item.json.message.chat.id;\nconst teacherId = $input.item.json.message.from.id;\nconst teacherName = $input.item.json.message.from.first_name || 'Teacher';\nconst username = $input.item.json.message.from.username || 'unknown';\n\n// Return structured data for next nodes\nreturn {\n  query: query,                    // Clean search topic\n  chatId: chatId,                  // Where to send response\n  teacherId: teacherId,            // For logging/analytics\n  teacherName: teacherName,        // For personalization\n  username: username,              // Optional: track username\n  timestamp: new Date().toISOString(),  // When query was made\n  originalMessage: text            // Keep original for reference\n};"
      },
      "id": "7876c3fe-4d36-4ab8-b675-e172a8c02394",
      "name": "Extract Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        208
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.teacherId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        368,
        448
      ],
      "id": "f967627f-291b-40e5-9a24-996e29340c2c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "R1PghA18TeRbGHV2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "14SL-wdsG1SVHPA4PwKqsnzzgnp9V8zQu",
          "mode": "list",
          "cachedResultName": "BUKU TEKS SEJ 3-118-145.pdf",
          "cachedResultUrl": "https://drive.google.com/file/d/14SL-wdsG1SVHPA4PwKqsnzzgnp9V8zQu/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -176,
        896
      ],
      "id": "b7e756d6-923f-41ae-81c4-f7894226e3e5",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XiAkyfhQUuE8hALI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        64,
        896
      ],
      "id": "3e54c1fe-d8bd-4e2e-8d36-2f20b79e7206",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "wzN5sHFNto69sgIn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -112,
        1088
      ],
      "id": "e9232b0d-1a24-49dc-9037-9a114ab30a7d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "FdHtYgaABcBk8pAR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        208,
        1104
      ],
      "id": "10b7a12d-5ffb-43dd-a398-275140a94fb9",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this to get the data about Sejarah Tingkatan 3 bab 5",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        544,
        464
      ],
      "id": "75d10999-cf1b-427a-9165-7a5933247a87",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "wzN5sHFNto69sgIn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        656
      ],
      "id": "377c39b5-fa5e-4cc6-a546-1a89a8cc0522",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "FdHtYgaABcBk8pAR",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Command": {
      "main": [
        [
          {
            "node": "Send Searching Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Help Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send Results to Teacher",
            "type": "main",
            "index": 0
          },
          {
            "node": "Save to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Searching Message": {
      "main": [
        []
      ]
    },
    "Extract Query": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "03700fc8-98ed-4238-b766-5c304387848e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8bff580f9e85330d3742530e572576d5fdfa142df3fe6a6619e11c277d23a54f"
  },
  "id": "QzPP8qkbz2eL6CuO",
  "tags": []
}