AI-Exam-Generator/Kertas Soalan & Jawapan Ujian Sejarah Tingkatan 4.json
{
  "name": "Kertas Soalan & Jawapan Ujian Sejarah Tingkatan 4",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        800
      ],
      "id": "40757e7e-fb0f-4abd-8917-3034d3dbca5e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        160,
        800
      ],
      "id": "6d41677f-b3da-4b6d-b153-387dcbd32057",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1008,
        816
      ],
      "id": "bfb201f5-280c-497f-8e86-dfd201dda645",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "kpm_textbooks",
          "mode": "list",
          "cachedResultName": "kpm_textbooks"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1232,
        816
      ],
      "id": "cbf96f13-5dd7-43d8-aeef-586cf3630c45",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "wzN5sHFNto69sgIn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1168,
        1008
      ],
      "id": "445d6212-e2a2-4a21-98c2-0a9821b2bbbc",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "FdHtYgaABcBk8pAR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1376,
        1024
      ],
      "id": "d3fa9c78-76cb-482c-8a2e-5657570216cf",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "url": "={{ \"https://www.googleapis.com/drive/v3/files/\" + $item(0).$node[\"Loop Over Items1\"].json.id + \"?alt=media\" }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        816
      ],
      "id": "838bb1d8-1c01-41d5-aa14-74f1f97c1885",
      "name": "HTTP Request",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XiAkyfhQUuE8hALI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "driveId": {
            "__rl": true,
            "value": "My Drive",
            "mode": "list",
            "cachedResultName": "My Drive",
            "cachedResultUrl": "https://drive.google.com/drive/my-drive"
          },
          "folderId": {
            "__rl": true,
            "mode": "id",
            "value": "1Ouy_PJsCUzE04mz8AfvFqBSZpCpY5GXp"
          },
          "whatToSearch": "all",
          "fileTypes": [
            "*"
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -96,
        800
      ],
      "id": "f5f8468c-38ba-4913-8f1f-0e517ca5dc19",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XiAkyfhQUuE8hALI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "ROLE:\nAnda ialah AI Pembina Soalan Peperiksaan Sejarah mengikut format Kementerian Pendidikan Malaysia (KPM). Tugasan anda ialah menghasilkan set soalan peperiksaan berdasarkan kandungan buku teks Sejarah yang dihantar melalui Supabase.\n\nINPUT:\nAnda akan menerima data kandungan bab daripada jadual Supabase dalam bentuk teks lengkap.\n\nOUTPUT:\nHasilkan soalan peperiksaan mengikut format KPM dengan pembahagian berikut:\n\nBAHAGIAN A — Soalan Objektif (10 markah)\n\n10 soalan objektif (A, B, C, D)\n\nTahap: Mudah → Sederhana\n\n1 markah setiap soalan\n\nBerdasarkan fakta dalam teks\n\nBAHAGIAN B — Soalan Subjektif Struktur (20 markah)\n\n4 soalan struktur\n\nJawapan pendek & berfokus\n\n5 markah setiap soalan\n\nBerdasarkan konsep, peristiwa, sebab & kesan\n\nBAHAGIAN C — Soalan Esei Pendek (20 markah)\n\n2 soalan esei\n\n10 markah setiap soalan\n\nMengukur kefahaman dan huraian\n\nBAHAGIAN D — Soalan KBAT (Kemahiran Berfikir Aras Tinggi) (10 markah)\n\n1 atau 2 soalan\n\nJumlah 10 markah\n\nMenguji analisis, nilai, penghayatan & membuat keputusan\n\nSoalan mesti berkaitan realiti semasa atau aplikasi dalam kehidupan pelajar\n\nSKEMA JAWAPAN\n\nSediakan jawapan lengkap bagi setiap bahagian\n\nUntuk objektif: berikan hanya A/B/C/D\n\nUntuk subjektif & esei: jawapan ringkas tetapi tepat\n\nUntuk KBAT: jawapan contoh yang munasabah\n\nARAHAN TAMBAHAN UNTUK AGENT\n\nGunakan bahasa Melayu buku teks Sejarah KSSM\n\nPastikan semua maklumat tepat mengikut teks Supabase\n\nJangan cipta fakta baharu\n\nPastikan gaya dan format sama seperti peperiksaan sebenar KPM\n\nSoalan harus jelas, padat, dan tidak terlalu panjang\n\nGunakan aras kesukaran yang seimbang",
        "options": {}
      },
      "id": "905ac44a-3564-4962-803f-73986269d8c8",
      "name": "AI Jana Soalan",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1328,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "const soalan = $input.first().json.output || $input.first().json.text || $input.first().json.response;\nconst tarikh = new Date().toLocaleDateString('ms-MY');\n\n// Find where answers start\nconst answerMarkers = [\n  '***SKEMA JAWAPAN***',\n  '**SKEMA JAWAPAN**',\n  'SKEMA JAWAPAN',\n  '***Bahagian A***',\n  'JAWAPAN:',\n  'ANSWERS:',\n  '===JAWAPAN==='\n];\n\nlet splitIndex = -1;\n\nfor (let marker of answerMarkers) {\n  splitIndex = soalan.indexOf(marker);\n  if (splitIndex !== -1) break;\n}\n\nlet questionsOnly = soalan;\nlet answersOnly = '';\n\nif (splitIndex !== -1) {\n  questionsOnly = soalan.substring(0, splitIndex).trim();\n  answersOnly = soalan.substring(splitIndex).trim();\n} else {\n  // Try to detect answer section automatically\n  const lines = soalan.split('\\n');\n  let answerStartIndex = -1;\n  \n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i].trim();\n    // Check if line looks like answer format: \"1. A\" or \"Jawapan:\"\n    if (line.match(/^(Jawapan|JAWAPAN|Answer|ANSWER|Skema|SKEMA)/i) ||\n        (line.match(/^\\d+\\.\\s*[A-D]$/))) {\n      answerStartIndex = i;\n      break;\n    }\n  }\n  \n  if (answerStartIndex !== -1) {\n    questionsOnly = lines.slice(0, answerStartIndex).join('\\n').trim();\n    answersOnly = lines.slice(answerStartIndex).join('\\n').trim();\n  }\n}\n\n// Remove all ** asterisks\nquestionsOnly = questionsOnly.replace(/\\*\\*/g, '');\nanswersOnly = answersOnly.replace(/\\*\\*/g, '');\n\n// Function to center text\nfunction centerText(text, width = 80) {\n  const padding = Math.max(0, Math.floor((width - text.length) / 2));\n  return ' '.repeat(padding) + text;\n}\n\n// Create questions document (NO ANSWERS!)\nlet kertasSoalan = `\n${centerText('SEKOLAH MENENGAH KEBANGSAAN MERIKAN')}\n${centerText('PEPERIKSAAN SEJARAH TINGKATAN 4')}\n\n${centerText('Masa: 1 Jam          Markah: 40')}\n\nNama: _______________________\nKelas: ______________________\nTarikh: ${tarikh}\n\n========================================\nARAHAN:\n1. Jawab SEMUA soalan\n2. Hitamkan jawapan pada kertas OMR\n========================================\n\n${questionsOnly}\n\n========================================\nKERTAS SOALAN TAMAT\n========================================\n`;\n\n// Create answers document (ONLY ANSWERS!)\nlet kertasJawapan = `\n${centerText('SEKOLAH MENENGAH KEBANGSAAN MERIKAN')}\n${centerText('SKEMA JAWAPAN - PEPERIKSAAN SEJARAH TINGKATAN 4')}\n\n${centerText('Tarikh: ' + tarikh)}\n\n========================================\n${centerText('JAWAPAN')}\n========================================\n\n${answersOnly}\n\n========================================\n${centerText('SKEMA JAWAPAN TAMAT')}\n========================================\n`;\n\n// Return BOTH outputs so next nodes can access them\nreturn [{\n  json: {\n    kertasSoalan: kertasSoalan,\n    kertasJawapan: kertasJawapan,\n    tarikh: tarikh,\n    // Keep originals for debugging\n    questionsOnly: questionsOnly,\n    answersOnly: answersOnly\n  }\n}];\n"
      },
      "id": "08a74232-dd2a-4e26-bbfb-a740e7287e67",
      "name": "Format Kertas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "// Combine all content from Supabase\nconst items = $input.all();\nconst allContent = items.map(item => item.json.content).join('\\n\\n');\n\n// Limit content to avoid token limits\nconst maxLength = 8000;\nconst limitedContent = allContent.substring(0, maxLength);\n\nreturn [{ json: { content: limitedContent } }];"
      },
      "id": "94dff50b-351b-4d91-97e8-987d69b50bf4",
      "name": "Gabung Kandungan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        368
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "kpm_textbooks",
        "limit": 75
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        768,
        368
      ],
      "id": "73df4f39-7e73-4e7b-afaf-db1a4ec4cace",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "wzN5sHFNto69sgIn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        480,
        624
      ],
      "id": "b3d50b44-4fdb-4f0a-ad93-a35430187675",
      "name": "Limit"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1200,
        576
      ],
      "id": "813a4654-db69-4efd-942d-1a5d5e0b77ea",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FdHtYgaABcBk8pAR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $('Format Kertas').item.json.kertasJawapan }}",
        "name": "Kertas Jawapan Sejarah Tingkatan 4 ",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1yQ-RNMJbSxKLujfunGgyuGLZeItBBOen",
          "mode": "list",
          "cachedResultName": "Kertas Exam 6 Merah",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1yQ-RNMJbSxKLujfunGgyuGLZeItBBOen"
        },
        "options": {
          "convertToGoogleDocument": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2096,
        368
      ],
      "id": "cab3ac51-6384-4c8c-ad91-6a1becfd6f7a",
      "name": "Jawapan Kertas Soalan Sejarah Tingkatan 4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XiAkyfhQUuE8hALI",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.kertasSoalan }}",
        "name": "Kertas Soalan Ujian Sejarah Tingkatan 4 Kelas 6 Merah",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1yQ-RNMJbSxKLujfunGgyuGLZeItBBOen",
          "mode": "list",
          "cachedResultName": "Kertas Exam 6 Merah",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1yQ-RNMJbSxKLujfunGgyuGLZeItBBOen"
        },
        "options": {
          "convertToGoogleDocument": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1888,
        368
      ],
      "id": "8f25af09-5f06-41fd-bcee-cd5356afe677",
      "name": "Kertas Soalan Sejarah Tingkatan 4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "XiAkyfhQUuE8hALI",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Jana Soalan": {
      "main": [
        [
          {
            "node": "Format Kertas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Kertas": {
      "main": [
        [
          {
            "node": "Kertas Soalan Sejarah Tingkatan 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gabung Kandungan": {
      "main": [
        [
          {
            "node": "AI Jana Soalan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many rows": {
      "main": [
        [
          {
            "node": "Gabung Kandungan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Jana Soalan",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Kertas Soalan Sejarah Tingkatan 4": {
      "main": [
        [
          {
            "node": "Jawapan Kertas Soalan Sejarah Tingkatan 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9a648efd-6b56-4539-9f21-609eb50a27c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8bff580f9e85330d3742530e572576d5fdfa142df3fe6a6619e11c277d23a54f"
  },
  "id": "em7tOOJg1GYfCd7L",
  "tags": []
}